*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #102128;
}

section
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1)
{
    color: #fff;
}

section:nth-child(2)
{
    color: #1d2128;
    background: #fff;
}



section:nth-child(3)
{
    color: #fff;
}

section:nth-child(4)
{
    color: #1d2128;
    background: #fff;
}

section .containerbox
{
    margin: 100px;
}

section h1
{
    font-size: 60px;
}

section h2
{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}


section .card
{
    display: flex;
}

section .card .text-card
{
    background: #2696e9;
    margin: 20px;
    padding: 20px;
}

section .card .text-card h3
{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


@media (max-width:900px)
{
    section h1{
        font-size: 40px;
    }

    section .card{
        flex-direction: column;
    }

    .reveal{
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all 5s ease;
    }

    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
    }

}